ckuiml.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="ckuiml">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="element" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="element">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="style" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="data" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="element" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="optional" default="container" />
            <xs:attribute name="id" type="xs:ID" use="optional" />
            <xs:attribute name="class" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>

    <xs:element name="data">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="value" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:element name="style">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="value" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

</xs:schema>